 body{
 	padding: 0;
    	margin-right: auto;
    	margin-left: auto;
 }

.container-all {
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	margin-right: auto;
    	margin-left: auto;
}

.jumbotron {
	background-color: rgb(74, 118, 168) !important;
	color: white;
    	padding: 48px;
}

.jumbotron h1 {
	color: white;
	font-weight: 100;
}

.contents {
    padding-left: 48px;	
    padding-right: 48px;	
}

#shopping-cart-product-id {
	display: none;
}

#shopping-cart-product-name {
	display: none;
}
#shopping-cart-product-price {
	display: none;
}
#shopping-cart-product-photo {
	display: none;
}

.cartphoto {
	width: 120px;	
}

.form-control.quantity {
	width: 70px;
}

.cart > tbody > tr > td {
	width: 10%;
}

.cartprice {
	display: inline;
	padding-left: 50px;
}

#cart-item-id {
	display: none;
}

.form-group.credit {
	padding-left: 190px;
	padding-right: 50px;
}

#button-container {
	margin-left: 30%;
}

#button-container button {
	font-size: 16px;
}

.thumbnail:hover {
	box-shadow: 1px 14px 45px rgba(0, 0, 0, 0.3) !important;
}

/*img:hover {
	-ms-transform: scale(1.1); 
    	-webkit-transform: scale(1.1); 
    	transform: scale(1.1);
    	transition: all ease-in-out 0.4s;
};*/